{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AcsGalgje</title>
  <link rel="stylesheet" type="text/css" href="../static/css/acsgalgje.css" />
</head>

<body>
  <div id="container">
    <div align="center">
      <img src={% static 'images/GalgjeHeader.png' %} width="312" height="111"> 
    </div>
    <table>
      <tr>
        <td class="leftpanel">
          <p textalign="center" class="guessword">{{ guessword }}</p>
          {% if status > 6 %}
            <p style="display: block" textalign="center" class="word">{{ word }}</p>
          {% else %}
            <p style="display: none" textalign="center" class="word">{{ word }}</p>
          {% endif %}
          <br><br>
          <p textalign="center" class="statustext">{{ statustext }}</p>
        </td>
      <td class="rightpanel" align="right">
        <img src={{ statusimage }} width="161" height="191"> 
      </td>
    </tr>
    </table>
    <form method="POST" class="galgje-form" autocomplete="off">
      <input type='hidden' name="status" value="{{ status }}">
      <input type='hidden' name="word" value="{{ word }}">
      <input type='hidden' name="guessword" value="{{ guessword }}">
      <input type='hidden' name="guessedletters" value="{{ guessedletters }}">
      <input type='hidden' name="score" value="{{ score }}">
      <input type='hidden' name="totalscore" value="{{ totalscore }}">
      <input type='hidden' name="statustext" value="{{ statustext }}">
      <input type='hidden' name="gamedone" value="{{ gamedone }}">
      <input type='hidden' name="eerste" value="{{ eerste }}">
      <input type='hidden' name="laatste" value="{{ laatste }}">
      <input type='text' name="pressedkey" maxlength="1" autofocus onkeyup=this.form.submit() size="1" style="opacity:0">
      {% csrf_token %}
      <ul id="keyboard">
        <li class="tab"></li>
        {% if 'q' in guessedletters %}
          <li class="letter disabled">q</li>
        {% else %}
          <li class="letter enabled">q</li>
        {% endif %}
        {% if 'w' in guessedletters %}
          <li class="letter disabled">w</li>
        {% else %}
          <li class="letter enabled">w</li>
        {% endif %}
        {% if 'e' in guessedletters %}
          <li class="letter disabled">e</li>
        {% else %}
          <li class="letter enabled">e</li>
        {% endif %}
        {% if 'r' in guessedletters %}
          <li class="letter disabled">r</li>
        {% else %}
          <li class="letter enabled">r</li>
        {% endif %}
        {% if 't' in guessedletters %}
          <li class="letter disabled">t</li>
        {% else %}
          <li class="letter enabled">t</li>
        {% endif %}
        {% if 'y' in guessedletters %}
          <li class="letter disabled">y</li>
        {% else %}
          <li class="letter enabled">y</li>
        {% endif %}
        {% if 'u' in guessedletters %}
          <li class="letter disabled">u</li>
        {% else %}
          <li class="letter enabled">u</li>
        {% endif %}
        {% if 'i' in guessedletters %}
          <li class="letter disabled">i</li>
        {% else %}
          <li class="letter enabled">i</li>
        {% endif %}
        {% if 'o' in guessedletters %}
          <li class="letter disabled">o</li>
        {% else %}
          <li class="letter enabled">o</li>
        {% endif %}
        {% if 'p' in guessedletters %}
          <li class="letter disabled">p</li>
        {% else %}
          <li class="letter enabled">p</li>
        {% endif %}
        <li class="symbol"></li>
        {% if eerste == "True" %}
          <li class="eerste disabled lastitem">Eerste</li>
        {% else %}
          <li class="eerste enabled lastitem">Eerste</li>
        {% endif %}
        <li class="capslock"></li>
        {% if 'a' in guessedletters %}
          <li class="letter disabled">a</li>
        {% else %}
          <li class="letter enabled">a</li>
        {% endif %}
        {% if 's' in guessedletters %}
          <li class="letter disabled">s</li>
        {% else %}
          <li class="letter enabled">s</li>
        {% endif %}
        {% if 'd' in guessedletters %}
          <li class="letter disabled">d</li>
        {% else %}
          <li class="letter enabled">d</li>
        {% endif %}
        {% if 'f' in guessedletters %}
          <li class="letter disabled">f</li>
        {% else %}
          <li class="letter enabled">f</li>
        {% endif %}
        {% if 'g' in guessedletters %}
          <li class="letter disabled">g</li>
        {% else %}
          <li class="letter enabled">g</li>
        {% endif %}
        {% if 'h' in guessedletters %}
          <li class="letter disabled">h</li>
        {% else %}
          <li class="letter enabled">h</li>
        {% endif %}
        {% if 'j' in guessedletters %}
          <li class="letter disabled">j</li>
        {% else %}
          <li class="letter enabled">j</li>
        {% endif %}
        {% if 'k' in guessedletters %}
          <li class="letter disabled">k</li>
        {% else %}
          <li class="letter enabled">k</li>
        {% endif %}
        {% if 'l' in guessedletters %}
          <li class="letter disabled">l</li>
        {% else %}
          <li class="letter enabled">l</li>
        {% endif %}
        <li class="symbol"></span></li>
        {% if laatste == "True" %}
          <li class="laatste disabled lastitem">Laatste</li>
        {% else %}
          <li class="laatste enabled lastitem">Laatste</li>
        {% endif %}
          <li class="left-shift"></li>
        {% if 'z' in guessedletters %}
          <li class="letter disabled">z</li>
        {% else %}
          <li class="letter enabled">z</li>
        {% endif %}
        {% if 'x' in guessedletters %}
          <li class="letter disabled">x</li>
        {% else %}
          <li class="letter enabled">x</li>
        {% endif %}
        {% if 'c' in guessedletters %}
          <li class="letter disabled">c</li>
        {% else %}
          <li class="letter enabled">c</li>
        {% endif %}
        {% if 'v' in guessedletters %}
          <li class="letter disabled">v</li>
        {% else %}
          <li class="letter enabled">v</li>
        {% endif %}
        {% if 'b' in guessedletters %}
          <li class="letter disabled">b</li>
        {% else %}
          <li class="letter enabled">b</li>
        {% endif %}
        {% if 'n' in guessedletters %}
          <li class="letter disabled">n</li>
        {% else %}
          <li class="letter enabled">n</li>
        {% endif %}
        {% if 'm' in guessedletters %}
          <li class="letter disabled">m</li>
        {% else %}
          <li class="letter enabled">m</li>
        {% endif %}
        <li class="symbol"></li>
        <li class="symbol"></li>
        <li class="symbol"></li>
        <li class="nieuw enabled lastitem">Nieuw</li>
    </ul>
  </form>
  <table width=100%>
    <tr>
      <td width=50%><p class="scorepanel" align="left" textalign="left">Score: {{score}}</p></td>
      <td width=50%><p class="scorepanel" align="right" textalign="right">Totaalscore: {{totalscore}}</p></td>
    </tr>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src={% static 'js/acsgalgje.js' %}></script>

</body>

</html>
